*{
	font-family: "PT Sans", Tahoma;
	font-size: 16px;
}
.navbar-brand{
	padding: 5px 5px;
	height: 100%;
	position: relative;
}
.logo-container{
	height: 100%;
}
.centerer{
	height: 100%;
}
.centerer tr.centerer-tr{
	height:33%;
}
table.logo{
	width: 30px;
	height: 30px;
	border-radius: 6px;
	margin-top: 3px;
	/*border: 1px solid orange;*/
}
table.logo td{
	width:50%;
	height: 50%;
	padding:2px;
}
table.logo td div.part{
	width: 100%;
	height: 100%;
	background-color: orange;
	transition:0.5s;
	-webkit-transition:0.5s;
	border-radius: 1px;
}
table.logo td div.part.round{
	border-radius: 20px;
}
table.logo td div.part:hover{
	background-color: #5B92C9;
}
table.logo td div.part.clicked{
	background-color: #FF4545;
}
table.logo td div.part.clicked:hover{
	background-color: orange;
}

table.logo td div.part.green:hover{
	background-color: #EFEFEF;
}
table.logo td div.part.green.clicked{
	background-color: #20AE2A;
}
table.logo td div.part.blue:hover{
	background-color: #FF4545;
}
table.logo td div.part.blue.clicked{
	background-color: #5B92C9;
}
table.logo td div.part.white:hover{
	background-color: #20AE2A;
}
table.logo td div.part.white.clicked{
	background-color: #EFEFEF;
}
.lang-button{
	border:none;
	outline:none;
	background:none;
	color:white;
}
form.lang{
}
form.lang .lang-button{
	height: 100%;
	padding-top: 11px;
	padding-bottom: 8px;
}
@media (max-width: 912px){
	form.lang .lang-button{
	
		padding-top: 9px;
	}
}
.lang-button img{
	width:30px;
}
.lang-external-button{
	float:right;
}
.navbar-toggle.custom{
	border-radius: 0;
	border:1px solid white;
	padding: 5px 5px;
}
.navbar-toggle.custom .icon-bar{
	height: 1px;
}
li.custom.active a{
	background-color: #63A15F !important;
	/*color:black !important;*/
	/*font-weight: bold;*/
	/*box-sizing: border-box;*/
	
}


.navbar{
	min-height: 30px;
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f8c28+1,409f39+51,287722+100 */
		
	background: #2f8c28; /* Old browsers */
		
	border:none;
		
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
		
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
		
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
		
	border-bottom: 4px solid #387134;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#42aa49+0,2f8c28+100 */
		
	background: #42aa49; /* Old browsers */
		
	background: -moz-linear-gradient(top,  #42aa49 0%, #2f8c28 100%); /* FF3.6-15 */
		
	background: -webkit-linear-gradient(top,  #42aa49 0%,#2f8c28 100%); /* Chrome10-25,Safari5.1-6 */
		
	background: linear-gradient(to bottom,  #42aa49 0%,#2f8c28 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42aa49', endColorstr='#2f8c28',GradientType=0 ); /* IE6-9 */

}
.navbar-inverse .navbar-nav > li > a {
    color: #DADADA;
    border-right: 1px solid #357830;
}
.navbar-inverse .navbar-nav > li:first-child > a {
    border-left: 1px solid #357830;
}
.navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
}


/*.project .widther{
	width:400px;
}*/
.row.about p{
	text-align: justify;
	font-size: 17px;
}
.viewer-footer{
	display: none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #387134;;
}