body{
	overflow-y: scroll;
}


.filter-tags{
	border-bottom:1px solid orange;
	padding-bottom:10px;
	margin-bottom:20px;
}

.filter-tags .tag.disabled{
	opacity: 0.3;
}
.filter-tags .tag.selected img{
	/*box-sizing: border-box;*/
	border:2px solid orange;
}
.filter-tags .tag{
	width: 32px;
}
.filter-tags .tag img{
	width: 32px;
	height: 32px;
}



.mixin{
	height:300px;
	border:1px solid #EFEFEF;

}
.row:nth-child(even) .mixin:nth-child(n+1){
	background-color: #EFEFEF;
}
@media (max-width: 767px){
	.row:nth-child(even) .mixin:nth-child(odd){
		background: none;
	}
	.row:nth-child(odd) .mixin:nth-child(even){
		background: none;
	}
	.mixin:nth-child(even){
		background-color: #EFEFEF !important;
	}
	
}

.filters{

}

.datebar{
	width: 100%;
	margin:20px 0;
}
.datebar td{
	height:10px;
}
.datebar>div{
	width:100%;
}
.datebar>div>table{
	width:100%;
}
.datebar td{
	position: relative;
}
.datebar .labels td{
	/*border:1px solid silver;*/
}
.datebar .pic{
	border-radius: 10px;
	background-color: silver;
	overflow: hidden;
}
.datebar .pic td.active{
	background-color: green;
}
.datebar .labels .kuku-text{
	position: absolute;
	top:-10px;
	left:0;
	
	color:gray;
	font-weight: bold;
	font-size: 12px;
}
.datebar .date-point{
    height: 6px;
    width: 6px;
    border-radius: 10px;
    background-color: gray;
    display: block;
    position: absolute;
    left: 2px;
    top: 22px;
}

.project{
	display: none;
	height: 480px;
	/*color:white;*/
	border:1px solid #E3E3E3;
	overflow: hidden;
	border: 1px dashed #3E9C37;
}

.project .parameters{
	width: 100%;
}
.project .parameters td.param-col:first-child{
	font-weight: bold;
	padding-right: 5px;
}
.project .parameters td.param-col{
	padding-bottom: 15px;
	vertical-align: top;
}
.project  .abs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.project .abs.background{
    background-size: cover;
    /* background-size: 100%; */
    z-index: 1;
}
.project:hover .abs.background{
	left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
}


.project .abs.background-color{
    z-index: 2;
    transition: 0.2s;
    background-color:rgba(255, 255, 255, 0.9);
}
.project .text-container {
    z-index: 3;
    padding:25px;
}
.project .disabled{
    opacity: 0;
}
.project:hover .background.enabled{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.project .view-picture{
	font-size:20px;
	color:green;
	cursor: pointer;
}
@media (max-width: 992px){
	.project{
		height: auto;
	}
	.project .abs{
		position: static;
	}
}