.tags{

}
.tags .tag{
	display: inline-block;
	width: 32px;
	vertical-align: top;
	margin-right: 5px;
	cursor: pointer;
	margin:5px;
}
.tags .tag img{
	width:32px;
	height:32px;
}
.tags .tag .little-span-text{
	font-size: 10px;
	text-align: justify;
	word-wrap: break-word;
}

.tags .mini.tag{
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	cursor: pointer;
	margin:5px;
	width: auto;
}
.tags .mini.tag img{
	width:20px;
	height:20px;
	margin-right:5px;
}
.tags .tag .little-span-text{
	font-size: 10px;
	text-align: justify;
	word-wrap: break-word;
}